body {
    text-align: center;
    color: white;
    background-color: rgb(12, 12, 12);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* justify-content: space-around; */
}

body>div {
    height: 50%;
    /* display: flex; */
}

#bars {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 80vw;
}

.listdiv {
    display: flex;
    flex-direction: row;
}

.box, .qbox {
    height: 100px;
    background-color: cyan;
    color: black;
    transition: 0.2s all ease;
    margin-top: 100px;
    margin-bottom: 10px;
    line-height: 90px;
    border-radius: 15px;
    font-weight: 800;
    font-size: 2rem;
}

img {
    width: 70px;
    position: relative;
    top: 40px;
    height: 50px;
}

.arr {
    width: 100px;
    height: 100px;
    display: none;
}

.flex-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item {
    border: 1pt solid black;
    width: 150px;
    transition: 0.1s all ease;
    display: inline-block;
}

.row {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.btn-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    right: 0;
    /* margin-top: 100px; */
}

.btn-div input {
    margin: 15px 100px;
    height: 25px;
    border-radius: 10px;
}

#pushdiv {
    display: flex;
    flex-direction: column;
}

button {
    height: 70px;
    min-width: 100px;
    width: 250px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 15px;
    padding: 19px 24px;
    cursor: pointer;
    margin: 10px 100px;
    font-weight: 700;

}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#headpic {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#queue {
    position: relative;
    /* bottom: 0; */
    flex-direction: row;
    margin-top: 0;
}

.qbox {
    background-color: #f7fb00;
}