@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
body {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}

#bars {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 200px;
  width: 80vw;
  /* background-color: #0a4044; */
}

.bar {
  background-color: cyan;
  transition: 0.2s all ease;
  margin-top: 100px;
  margin-bottom: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0 20px 30px 0;
  line-height: 1.4;
  margin: 0;
}

.flex-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 500px;
  justify-content: center;
  transition: 2s all ease;
}

.flex-item {
  background: cyan;
  border: 1pt solid black;
  max-width: 100px;
  transition: 0.1s all ease;
  max-width: 100px;
}

nav {
  background: #a8ff78;
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  color: black;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  width: 100vw;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#input {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  margin-left: 10px;
}

.btn-div {
  position: absolute;
  bottom: 10vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100vw;
}

button {
    height: 50px;
    min-width: 100px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 15px;
    padding: 19px 24px;
    cursor: pointer;
    margin: 5px 10px;
    opacity: 1;
}

#canvas {
  margin-bottom: 50px;
}

ellipse {
  fill-opacity: 1 !important;
}

text {
  fill: white !important;
}

path {
  stroke: white !important;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

#back {
  margin-top: 50px;
}

.heading {
  font-family: "Helvetica Neue", sans-serif;
}
