body {
    text-align: center;
    color: white;
    background-color: black;
}

#bars {
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.bar {
    width: 20px !important;
    background-color: cyan;
    transition: 0.2s all ease;
    margin-top: 100px;
    margin-bottom: 10px;
    /*margin-left: 5px;
    margin-right: 5px;*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
    margin: 0;
}

.flex-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item {
    background: cyan;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}
nav{
    background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
}
.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#input {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    margin-left: 10px;
}
.btn-div{
    position: absolute;
    bottom: 10vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100vw;
}
button {
    height: 50px;
    min-width: 100px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    font-size: 20px;
    line-height:15px;
    padding: 19px 24px;
    cursor: pointer;
    margin: auto 10px;
}
